.form-container {
    max-width: 300px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the form */
  }
  
  /* Style the text inputs */
  .MuiTextField-root {
    width: 100%; /* Set a width for the text inputs */
    margin-bottom: 10px; /* Add some spacing between the inputs */
  }
  
  /* Style the submit button */
  .MuiButton-root {
    width: 100%; /* Set a width for the submit button */
  }
  
  .api-response-container {
    display: flex;
    flex-direction: column;
  }
  
  .api-response-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
